# Basic dependencies
fastapi==0.135.2
uvicorn[standard]==0.42.0
# Additional dependencies
httpx==0.28.1
ics==0.7.2
TatSu==5.12.1 # pinned due to incompatibility with ics>=0.7.2 and newer TatSu versions
python-dotenv==1.2.2
